// bower:scss
// endbower

@font-face {
    font-family: mickey;
    src: url('/fonts/mickey-webfont.eot?') format('eot'), url('/fonts/mickey-webfont.woff') format('woff'), url('/fonts/mickey-webfont.ttf') format('truetype');
}

body {
  background: url("/images/memory.jpg") no-repeat fixed top;
  background-size: cover;
}

.text-game {
  font-family: mickey, Helvetica, Arial, sans-serif;
  font-size: 3em;
  text-align: center;
}

.tile {
  display: inline-block;
  border: 3px solid black;
  margin-right: 3px;
  opacity: 0.7;
  background-color: gray;
  width: 116px;
  height: 116px;
  img{
    opacity: 0;
  }
}
