// bower:scss
// endbower

@font-face {
    font-family: mickey;
    src: url('/fonts/mickey-webfont.eot?') format('eot'), url('/fonts/mickey-webfont.woff') format('woff'), url('/fonts/mickey-webfont.ttf') format('truetype');
}

body {
  background: url("/images/memory.jpg") no-repeat;
}

.text-game {
  font-family: mickey, Helvetica, Arial, sans-serif;
  font-size: 3em;
  text-align: center;
}

